<%= render "new_idea_form" %>

<% if not @parent.nil? %>
  <h3>Thinking about <%= @idea.parent.description %></h3>
<% end %>

<% if @parent.nil? %>
  * Create a new board for your ideas
<% elsif @parent.children.empty? %>
  <h5>No ideas added to this board</h5>
<% else %>
  <!-- TODO: This shall be transformed in a react component -->
<!-- Dinamic page content -->
<div class="container">
  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-3 portfolio-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.3.7</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 portfolio-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.3.7</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 portfolio-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.3.7</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 portfolio-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.3.7</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a href="#" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<% end %>

